@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  --green: #49915b;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-yellow: oklch(79.185% 0.16113 90.122);
  --color-yellow-50: oklch(93.623% 0.09169 94.93);
  --color-yellow-100: oklch(92.502% 0.10995 95.049);
  --color-yellow-200: oklch(90.111% 0.14058 94.693);
  --color-yellow-300: oklch(87.9% 0.16216 93.591);
  --color-yellow-400: oklch(85.864% 0.17223 91.409);
  --color-yellow-500: oklch(79.185% 0.16113 90.122);
  --color-yellow-600: oklch(64.473% 0.13093 90.416);
  --color-yellow-700: oklch(48.86% 0.09878 90.939);
  --color-yellow-800: oklch(32.098% 0.06496 94.011);
  --color-yellow-900: oklch(12.001% 0.02539 104.41);
  --color-yellow-950: oklch(0% 0 none);

  --color-red: oklch(62.415% 0.22499 28.879);
  --color-red-50: oklch(90.968% 0.04157 21.61);
  --color-red-100: oklch(87.043% 0.06215 22.104);
  --color-red-200: oklch(79.537% 0.10567 23.259);
  --color-red-300: oklch(72.596% 0.14949 24.845);
  --color-red-400: oklch(66.729% 0.19302 26.916);
  --color-red-500: oklch(62.415% 0.22499 28.879);
  --color-red-700: oklch(44.905% 0.1733 29.573);
  --color-red-800: oklch(33.941% 0.12819 29.226);
  --color-red-900: oklch(21.884% 0.07628 28.71);
  --color-red-950: oklch(15.251% 0.04856 28.779);

  --color-blue: oklch(54.94% 0.09783 231.15);
  --color-blue-50: oklch(82.085% 0.06832 226.97);
  --color-blue-100: oklch(79.488% 0.07847 226.24);
  --color-blue-200: oklch(74.304% 0.0973 227.81);
  --color-blue-300: oklch(69.046% 0.11333 230.03);
  --color-blue-400: oklch(63.074% 0.11328 230.8);
  --color-blue-500: oklch(54.94% 0.09783 231.15);
  --color-blue-600: oklch(48.736% 0.08563 230.6);
  --color-blue-700: oklch(42.357% 0.07254 230.07);
  --color-blue-800: oklch(35.425% 0.0597 230.77);
  --color-blue-900: oklch(28.472% 0.04497 230.12);
  --color-blue-950: oklch(25.003% 0.03773 228.88);

  --color-green: var(--green);

  --font-sans: var(--font-geist-sans);
  --font-handwritten: "Shadows Into Light";
  --font-mono: var(--font-geist-mono);
}

html.dark {
  --background: #000000;
  --foreground: #ffffff;

  --green: #1b6852;
}

html.light {
  --background: #ffffff;
  --foreground: #000000;

  --green: #49915b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;

    --green: #1b6852;
  }
}

@layer base {
  h1,
  h2 {
    @apply font-bold text-2xl;
  }

  h2 {
    @apply mb-4;
  }

  h1 {
    @apply text-3xl text-left w-full;
  }

  /* Uncomment this to follow the brand guidelines */
  /* button,
  a {
    font-weight: 300;
    font-style: italic;
  }

  h1, h2 {
    @apply text-blue
  } */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Sansation, Arial, Helvetica, sans-serif;

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  transition: background 0.2s, color 0.2s;

  @apply leading-tight;
}

/* Disable double-tap to zoom */
* {
  touch-action: manipulation;
}
